* {
  box-sizing: border-box;
}

/*"GT America Standard", sans-serif*/

body {
  margin: 0;
  background-color: #fff;
  font-size: 1.5rem;
}

.container {
  max-width: ;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  margin-inline: auto;
  background-color: #fff;
}

.navigation {
  background-color: #000000;
  color: #fff;
  padding-inline: 1.875rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1.1518rem;
  padding-bottom: 1.1518rem;
  /*margin으로 잡고 위에 클래스 넣어서 늘렸을 때 모습 수정*/
  font-weight: 10rem;
}

.navigation > .navigation__menu-group {
  display: flex;

  align-items: center;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}

.navigation__side-button {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}

.button1 {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 6px;
  padding-bottom: 0.375rem;
  border: 0.0469rem solid #fff;
  border-radius: 7px;
}

.button2 {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 6px;
  padding-bottom: 0.375rem;
  background-color: #4c5fd5;
  border-radius: 7px;
}

.navigation > * {
  background-color: ;
}

.navigation__logo {
  width: 7.875rem;
  height: 2rem;
}

.navigation__help {
  margin-left: 0.8rem;
  margin-top: 0.25rem;
  border-left: 0.125rem solid #fff;
  padding-left: 0.8rem;
  padding-top: 0.125rem;
  padding-bottom: 0.25rem;
}

.section1 {
  padding: 115px 30px 30px 80px;
  background-color: #dadbf1;
}

.title {
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 16px;
}

.search {
  margin: 0 auto;
  text-align: left;
  background-color: #fff;
  padding: 16px;
  border: 0.75px solid #000000;
  border-radius: 7px;
  width: 800px;
}

.gg {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.hh {
  list-style: none;
}

.learn {
  font-size: 20px;
  color: #4c5fd5;
  list-style: none;
}

.contents {
  margin-bottom: 48px;
  padding-right: 15px;
  display: flex;
}

.img {
  width: 80px;
  height: 80px;
  padding-right: 85.59px;
  background-color: black;
  margin-top: 50px;
  align-content: left;
}

.lem {
  padding-right: 24px;
}

.lem__tittle {
  margin-top: 48px;
  margin-bottom: 16px;
  list-style: none;
  font-weight: 700;
  width: 400px;
}

.lem__detail {
  margin-bottom: 20px;
  list-style: none;
  width: 400px;
}

.container__box {
  display: flex;
  justify-content: center;
}

.contents__box {
  align-items: center;
}

.box {
  margin: 100px;
}

.layout {
  padding-bottom: 16px;
}

.last {
  background-color: #000000;
  padding: 48px 30px 60px 30px;
}

.last__in {
  margin: 0px 70px 0px 70px;
  padding-bottom: 100px;
}

.last__ma {
  margin: 0;
  padding: 0px 35px;
}

.last__title {
  color: #fff;
  font-weight: 700px;
  margin-top: 48px;
  margin-bottom: 16px;
  list-style: none;
}

.last__detail {
  font-size: 16px;
  color: #fff;
  list-style: none;
  margin: 5px 0px 5px 0px;
}

.last__title__ {
  color: #fff;
  font-weight: 700px;
  margin-top: 48px;
  margin-bottom: 16px;
  list-style: none;
  font-size: 16px;
}

.last__box {
  display: flex;
}
